<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Criar utilizador</title>
</head>
<body>
<h1>Bem vindo ao sistema!</h1>

<form method="post" action=".">
    {% csrf_token %}
    <div>
        <label>{{ form.username.label_tag }}</label>
        {{ form.username }}
    </div>
    <br/>
    <div>
        <label>{{ form.password.label_tag }}</label>
        {{ form.password }}
    </div>
    <br/>
    <div>
        <label>{{ form.first_name.label_tag }}</label>
        {{ form.first_name }}
    </div>
    <br/>
    <div>
        <label>{{ form.last_name.label_tag }}</label>
        {{ form.last_name }}
    </div>
    <br/>
    <div>
        <label>{{ form.cpf.label_tag }}</label>
        {{ form.cpf }}
    </div>
    <br/>
    <div>
        <label>{{ form.rg.label_tag }}</label>
        {{ form.rg }}
    </div>
    <br/>
    <div>
        <label>{{ form.email.label_tag }}</label>
        {{ form.email }}
    </div>
    <br/>
    <br/>
    <div>
        <label>{{ form.choice_field.label_tag }}</label>
        {{ form.choice_field }}
    </div>
    <div>
        <button type="submit">Entrar</button>
    </div>
</form>
</body>
</html>

